
@{
    ViewBag.Title = "GetOrderList";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


@{
    ViewBag.Title = "OrderInAdmin";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}



<div class="function">
    <form action="" method="post">
        <input type="text" name="search">
        <button type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>


</div>
<div class="container-home">
    @Html.Partial("MenuBarAdmin")
    <div class="content">
        <table>
            <tr>
                <th>Code</th>
                <th>Name Customer</th>
                <th>Date Order</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            @model IEnumerable<WatchShop.Models.Order>
            @foreach (var Item in Model)
            {
                <tr>
                    <td>@Item.Id</td>
                    <td>@Item.Customer</td>
                    <td>@Item.OrderDate</td>
                    <td>$1127</td>
                    <td>@Item.Status</td>
                    <td>
                        <a href="/Admin/GetOrderDetail?Id=@Item.Id">
                            <i class="far fa-eye"></i>
                        </a>
                    </td>
                </tr>
            }


        </table>
    </div>
</div>






