
@{
    ViewBag.Title = "GetOrderDetail";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@section AddCSS{
    <link rel="stylesheet" href="~/Content/css/admin/order_detail.css">
}

<div class="container-home">
    @Html.Partial("MenuBarAdmin")
    <div class="content">
        <div class="container-order">
            <!-- <div class="order-header">
                <h3 class="order-header__id">ORD01</h3>
                <span>Date:
                    <span class="order-header__date">29/12/2021</span>
                </span>
            </div> -->
            @model IEnumerable<WatchShop.Models.OrderDetail>
            <div class="order-address">
                <div class="order-address__from">
                    <h3>From</h3>
                    <p>CCKT STORE</p>
                    <p>313, Lap Thanh, Hoa Khanh, Duc Hoa, Long An</p>
                    <p>Phone: <span>0327172475</span></p>
                    <p>Email: <span>19130021@gmail.com</span></p>
                </div>
                <div class="order-address__to">
                    <h3>To</h3>
                    @foreach (var Item in Model)
                    {
                        <p>Chua co thuoc tinh name</p>
                        <p>@Item.Order.Customer1.Email</p>
                        <p>Phone: <span>@Item.Order.Customer1.Phone</span></p>
                        <p>Email: <span>@Item.Order.Customer1.Email</span></p>
                        break;
                    }
                </div>
                <div class="order-info">
                    @foreach (var Item in Model)
                    {
                        <h3>Order ID: <span>@Item.Order.Id</span></h3>
                        <p>Order Date: <span>@Item.Order.OrderDate.ToString("dd/MM/yyyy")</span></p>
                        <p>Order Due: <span>@Item.Order.OderDue.ToString("dd/MM/yyyy")</span></p>
                        <p>Account: <span>@Item.Order.Customer</span></p>
                        <p>Status: <span>@Item.Order.Status</span></p>
                        break;
                    }

                </div>
            </div>
            <div class="order-product">
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>

                    </tr>
                    @{
                        double TotalPrice = 0;
                    }
                    @foreach (var Item in Model)
                    {
                        <tr>
                            <td>@Item.Id</td>
                            <td><img src="~/Content/image/product/@Item.Product1.Avatar" alt=""></td>
                            <td>@Item.Quantity</td>
                            <td>$@Item.Product1.Price</td>
                            @{
                                double PriceByQuantity = Item.GetPriceByQuantity(Item.Product1.Price);
                                TotalPrice += PriceByQuantity;
                            }
                            <td>$@PriceByQuantity</td>
                        </tr>
                    }

                </table>
                <div class="subtotal">
                    <p>Subtotal: <span> $@TotalPrice</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
