
@{
    ViewBag.Title = "Get Product";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@section AddJS{
    <script src="~/Content/js/admin/admin.js"></script>

}

<div class="function">
    <button class="add">
        @Html.ActionLink("Add Product", "AddProduct", "Admin")
    </button>

    @using (Html.BeginForm("GetProduct", "Admin", FormMethod.Post, new { id = "form-product" }))
    {
        @functions {
                string GetTypeSelected(string Type, string TypeSelected) {
                if (Type.Equals(TypeSelected))
                    return "selected";
                return "";
                }
            }
        <select name="type" id="type-product">
            <option value="Id" @GetTypeSelected("Id",ViewBag.Type)>ID</option>
            <option value="Brand" @GetTypeSelected("Brand",ViewBag.Type)>BRAND</option>
            <option value="Name" @GetTypeSelected("Name",ViewBag.Type)>NAME</option>
        </select>

        <input type="text" name="search" id="search-product" value="@ViewBag.Search">
        <button type="submit" id="product-submit">
            <i class="fas fa-search"></i>
        </button>
    }



</div>
<div class="container-home">

    @Html.Partial("MenuBarAdmin")


    <div class="content">
        <table id="table-product">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Gender</th>
                <th>Quantity Import</th>
                <th>Status</th>
                <th>Action</th>
            </tr>



            @model IEnumerable<WatchShop.Models.Product>

            @foreach (var Item in Model)
            {
                <tr id="tr-product__@Item.Id">
                    <td>@Item.Id</td>
                    <td>@Item.Name</td>
                    <td>$@Item.Price</td>
                    <td>@Item.Gender</td>
                    <td>@Item.Import</td>
                    <td>Stocking</td>
                    <td>
                        <ul>
                            <li class="action-item watch-product">
                                <a href="/Admin/ViewProduct?id=@Item.Id">
                                    <i class="far fa-eye"></i>
                                </a>
                            </li>
                            <li class="action-item remove-product" data-id="@Item.Id">
                                <a>
                                    <i class="fas fa-times"></i>
                                </a>
                            </li>
                            <li class="action-item edit-product">
                                <a href="/Admin/EditProduct?id=@Item.Id">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </li>
                        </ul>

                    </td>
                </tr>
            }


        </table>
    </div>
</div>



