
@{
    ViewBag.Title = "ViewProduct";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";

    <link rel="stylesheet" href="~/Content/css/admin/info_product.css">
}



<div class="function">
    <button class="add">
        @Html.ActionLink("Add Product", "AddProduct", "Admin")
    </button>
    <form action="" method="post">
        <input type="text" name="search">
        <button type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>


</div>
<div class="container-home">

    @Html.Partial("MenuBarAdmin")

    @model WatchShop.Models.Product
    <div class="content">
        <form action="" method="post">

            <div class="row">
                <div>
                    @Html.LabelFor(model => model.Id)
                    @Html.TextBoxFor(model => model.Id, new { @readonly = true })
                </div>
                <div>
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @readonly = true })
                </div>
                <div>
                    @Html.LabelFor(model => model.Price)
                    @Html.TextBoxFor(model => model.Price, new { @readonly = true })
                </div>
            </div>
            <div class="row" style="width: 100%">
                <div style="width: 100%">
                    <div style="display:flex; flex-direction: row; flex-wrap:wrap; justify-content:space-evenly;">
                        <img width="300" height="300" src="/Content/image/product/@Model.Avatar" />
                        @{
                            foreach (var Image in Model.Images)
                            {
                                <img style="margin: 10px 0;" width="300" height="300" src="/Content/image/product/@Image.Url">
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    @Html.LabelFor(model => model.Discount)
                    @Html.TextBoxFor(model => model.Discount, new { @readonly = true })
                </div>

                <div>
                    @Html.LabelFor(model => model.Import)
                    @Html.TextBoxFor(model => model.Import, new { @readonly = true })
                </div>

                <div>
                    <div>
                        @Html.LabelFor(model => model.Brand)
                        @Html.TextBoxFor(model => model.Brand1.Name, new { @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    @Html.LabelFor(model => model.Gender)
                    @Html.TextBoxFor(model => model.Gender, new { @readonly = true })
                </div>

                <div>
                    @Html.LabelFor(model => model.Origin)
                    @Html.TextBoxFor(model => model.Origin, new { @readonly = true })
                </div>

                <div>
                    @Html.LabelFor(model => model.WarrantyPeriod)
                    @Html.TextBoxFor(model => model.WarrantyPeriod, new { @readonly = true })
                </div>
            </div>
            <div class="row">
                <div>
                    @Html.LabelFor(model => model.Diameter)
                    @Html.TextBoxFor(model => model.Diameter, new { @readonly = true })
                </div>

                <div>
                    @Html.LabelFor(model => model.Material)
                    @Html.TextBoxFor(model => model.Material, new { @readonly = true })
                </div>

                <div>
                    @Html.LabelFor(model => model.Strap)
                    @Html.TextBoxFor(model => model.Strap, new { @readonly = true })
                </div>
            </div>
            <div class="row">
                <div>
                    @Html.LabelFor(model => model.Apparatus)
                    @Html.TextBoxFor(model => model.Apparatus, new { @readonly = true })
                </div>

                <div>
                    @Html.LabelFor(model => model.Waterproof)
                    @Html.TextBoxFor(model => model.Waterproof, new { @readonly = true })
                </div>

                <div>
                    @Html.LabelFor(model => model.CreateDate)
                    @Html.TextBoxFor(model => model.CreateDate, new { @readonly = true })
                </div>
            </div>
            <div class="row">
                <div>
                    @Html.LabelFor(model => model.WireWidth)
                    @Html.TextBoxFor(model => model.WireWidth, new { @required = true })
                </div>
                <div>
                    @Html.LabelFor(model => model.Stock)
                    @Html.TextBoxFor(model => model.Stock, new { @required = true })
                    @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div>
                    @Html.LabelFor(model => model.Description)
                    @Html.TextAreaFor(model => model.Description, new { @readonly = true })
                </div>
            </div>

       

            <div class="submit">
                <button onclick="history.go(-1);">
                    Back
                </button>
            </div>

        </form>
    </div>

</div>


